<?php
$id = uniqid('nav-');

$links = $this->list->get('link-list.links')->getArray();

$linkResolver = $this->linkResolver()->get();
$renderMenu = $renderLink = null;

$renderLink = function($link, $text, $class, $title) use ($linkResolver, &$renderMenu) {
    $url        = (string) $this->prismicUrl($link);
    $className  = $class ? $this->escapeHtmlAttr($class->asText()) : '';
    $titleText  = $title ? $this->escapeHtmlAttr($title->asText()) : '';
    $anchorText = $text  ? $this->escapeHtml($text->asText()) : '';
    $target = null;
    if(method_exists($link, 'getId')) {
        $target = $this->prismicFinder()->getDocumentById($link->getId());
    }
    if(!$target || $target->getType() !== 'link-list') {
        if(empty($url)) {
            return '';
        }
        $linkFormat = '<li><a href="%s" class="%s" title="%s">%s</a></li>';
        return sprintf(
            $linkFormat,
            $url,
            $className,
            $titleText,
            $anchorText
        );
    }
    if($target && $target->getType() === 'link-list') {
        return sprintf(
            '<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">%s <span class="caret"></span></a>
                <ul class="dropdown-menu">
                %s
                </ul>
            </li>',
            $anchorText,
            $renderMenu($target->get('link-list.links')->getArray())
        );
    }
};

$renderMenu = function($links) use (&$renderLink) {
    $markup = [];
    foreach($links as $link) {
        if(!isset($link['url'])) {
            continue;
        }
        $class = isset($link['class']) ? $link['class'] : null;
        $title = isset($link['title']) ? $link['title'] : null;
        $text  = isset($link['text'])  ? $link['text']  : null;
        
        $markup[] = $renderLink($link['url'], $text, $class, $title);
    }

    return implode("\n", $markup);
};

?>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#<?php echo $id; ?>" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="<?php echo $id; ?>">
                <ul class="nav navbar-nav">
                    <?php echo $renderMenu($links); ?>
                </ul>
            </div>
        </div>
    </div>
</nav>