<?php
/**
 * The purpose of this partial is to render the markup for displaying a
 * single quote document
 */

if(!$this->quote) {
    return;
}

$docType = $this->quote->getType();

$quoteFrag = $this->quote->get(sprintf('%s.quote', $docType));
if(!$quoteFrag) {
    return;
}

$authorFrag = $this->quote->get(sprintf('%s.author', $docType));
$authorMarkup = '';
if($authorFrag) {
    $author = $this->escapeHtml($authorFrag->asText());
    $authorMarkup = sprintf('<footer><cite>%s</cite></footer>', $author);
}

?>

<blockquote>
    <div class="quote-content">
        <?php echo $quoteFrag->asHtml($this->linkResolver()->get()); ?>
    </div>
    <?php echo $authorMarkup; ?>
</blockquote>

