<?php
$type = $this->document->getType();
$url = $this->prismicUrl($this->document);
if(empty($url)) {
    return;
}
$metaTitle = 'Untitled Document';
if($metaTitleFragment = $this->document->get(sprintf('%s.meta_title', $type))) {
    $metaTitle = $this->escapeHtml($metaTitleFragment->asText());
}

$metaDescription = '';
if($metaDescription = $this->document->get(sprintf('%s.meta_description', $type))) {
    $metaDescription = $this->escapeHtml($metaDescription->asText());
}

$image = '';
if($ogImage = $this->document->get(sprintf('%s.og_image', $type))) {
    $view = $ogImage->getMain();
    $image = sprintf('<a class="result-thumbnail" href="%s"><img src="%s" alt="" class="img-responsive" width="%d" height="%d"></a>',
        $url,
        $view->getUrl(),
        $view->getWidth(),
        $view->getHeight()
    );
}

echo sprintf('

<div class="search-result">
    <div class="image">
            %5$s
    </div>
    <div class="result-text">
        <h3><a href="%1$s">%2$s</a></h3>
        <p class="url"><a href="%1$s">%4$s</a></p>
        <p class="description">%3$s</p>
    </div>
</div>

', $url,
   $metaTitle,
   $metaDescription,
   $this->escapeHtml($this->serverUrl().$url),
   $image
);
