<?php
/**
 * View Script For Paging Through Results
 */

if ($this->pageCount > 1):
?>

<nav class="pagination-wrapper">
    <ul class="pagination">
    <?php if (isset($this->previous)): ?>
        <li><a href="<?php echo $this->url($this->route, array('page' => $this->previous, 'q' => $this->q)); ?>">
    <?php else: ?>
        <li class="disabled"><a href="#">
    <?php endif; ?><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>

<?php foreach ($this->pagesInRange as $page): ?>
    <?php if ($page != $this->current): ?>
        <li><a href="<?php echo $this->url($this->route, array('page' => $page, 'q' => $this->q)); ?>"><?php echo $page; ?></a></li>
    <?php else: ?>
        <li class="active"><span><?php echo $page; ?> <span class="sr-only">(Current)</span></span></li>
    <?php endif; ?>
<?php endforeach; ?>

    <?php if (isset($this->next)): ?>
        <li><a href="<?php echo $this->url($this->route, array('page' => $this->next, 'q' => $this->q)); ?>">
    <?php else: ?>
        <li class="disabled"><a href="#">
    <?php endif; ?><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
    
    </ul>
</nav>

<?php
endif;
?>
