<?php

$theme = isset($this->quote['theme']) ? $this->quote['theme']->asText() : '';

if(!isset($this->quote['quote'])) {
    return;
}

$id = $this->quote['quote']->getId();
$quote = $this->prismicFinder()->getDocumentById($id);

if(!$quote) {
    return;
}

$quoteMarkup = (string) $this->partial('netglue-prismic/quote-markup', ['quote' => $quote]);

if(empty($quoteMarkup)) {
    return;
}

?>
<div class="quotation-row <?php echo $theme; ?>">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <?php echo $quoteMarkup; ?>
            </div>
        </div>
    </div>
</div>