<?php
/**
 * The header banner requires a slice fragment with the following properties:
 * 'image', 'title', 'leader', 'caption_position', 'caption_theme'
 * All fields are optional except the image
 * 
 * As this partial has no knowledge of the document, we expect to receive
 * the slice fragment in $this->slice
 */

if(!$this->slice) {
    return;
}

$group = $this->slice->getValue();
$elements = $group->getArray()[0];
if(!count($elements)) {
    return;
}

$linkResolver = $this->linkResolver()->get();

$classPrefix = 'ng-image-banner-';
$class = [];
$contentClass = 'col-md-6';


$image = '';
if(isset($elements['image'])) {
    $image = $elements['image']->asHtml();
}
if(!isset($image)) {
    $class = $classPrefix . 'no-image';
}

if(isset($elements['caption_position']) && !empty($elements['caption_position']->asText())) {
    $captionClass = strtolower($elements['caption_position']->asText());
    $class[] = $classPrefix . $captionClass;
    switch($captionClass) {
        case 'left':
            $contentClass = 'col-md-4';
            break;
        case 'right':
            $contentClass = 'col-md-4 col-md-offset-8';
            break;
        case 'top-center':
        case 'bottom-center':
        case 'center':
            $contentClass = 'col-md-6 col-md-offset-3';
            break;
    }
}

if(isset($elements['caption_theme']) && !empty($elements['caption_theme']->asText())) {
    $class[] = $classPrefix . strtolower($elements['caption_theme']->asText());
}

$buttonText  = (isset($elements['button_text']) && !empty($elements['button_text']->asText()))
             ? $elements['button_text']->asHtml()
             : null;
$buttonLink  = (isset($elements['button_link']) && !empty($elements['button_link']->getUrl($linkResolver)))
             ? $elements['button_link']->getUrl($linkResolver)
             : null;
$buttonTheme = (isset($elements['button_theme']) && !empty($elements['button_theme']->asText()))
             ? $elements['button_theme']->asText()
             : null;
$button      = !is_null($buttonText) && !is_null($buttonLink)
             ? sprintf('<a class="button %s" href="%s">%s</a>', $buttonTheme, $buttonLink, $buttonText)
             : '';


?>
<div class="ng-image-banner <?php echo implode(' ', $class); ?>">
    <?php echo $image; ?>
    <?php
    $title    = isset($elements['title']) ? $elements['title']->asHtml($linkResolver) : null;
    $subtitle = isset($elements['leader']) ? $elements['leader']->asHtml($linkResolver) : null;
    $captionFormat = '
    <div class="caption">
        <div class="container">
            <div class="row">
                <div class="%3$s">
                    %1$s
                    %2$s
                    %4$s
                </div>
            </div>
        </div>
    </div>';
    $caption  = $title ? sprintf($captionFormat, $title, $subtitle, $contentClass, $button) : null;
    echo $caption;
    ?>
</div>