<?php
/**
 * A content slice that contains a single heading and optional intro paragraph
 */

if(!$this->slice) {
    return;
}

$group = $this->slice->getValue();
$elements = $group->getArray()[0];
if(!count($elements) || !isset($elements['heading'])) {
    return;
}

// Possible elements
// theme (Text)
// heading (StructuredText)
// subtitle (StructuredText)

$heading = $elements['heading']->asHtml($this->linkResolver()->get());
$subtitle = '';
if(isset($elements['subtitle'])) {
    $subtitle = $elements['subtitle']->asHtml($this->linkResolver()->get());
}

$class = ['block-heading'];
if(!is_null($this->slice->getLabel())) {
    $class[] = $this->slice->getLabel();
}
if(isset($elements['theme'])) {
    $class[] = $elements['theme']->asText();
}

echo sprintf(
    '<div class="%s">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    %s
                    %s
                </div>
            </div>
        </div>
    </div>',
    implode(' ', $class),
    $heading,
    $subtitle
);

