<?php

/**
 * Content block representing a call-to-action
 *
 * Possible group properties are
 *
 * theme - String - Used for styling
 * title - StructuredText - single heading 2
 * description - StructuredText - single paragraph
 * button - string - button text
 * link - Link - Button URL
 * image - Background image
 * image_type - string - either empty|Photo|Pattern
 *
 */

if(!$this->slice) {
    return;
}

$group = $this->slice->getValue();
$members = $group->getArray();

if(!count($members)) {
    return;
}

$linkResolver = $this->linkResolver()->get();

foreach($members as $action) {
    
    $title       = isset($action['title'])        ? $action['title']->asHtml($linkResolver)        : null;
    $description = isset($action['description'])  ? $action['description']->asHtml($linkResolver)  : null;
    $buttonText  = isset($action['button'])       ? $this->escapeHtml($action['button']->asText()) : null;
    $buttonTheme = isset($action['button_theme']) ? $action['button_theme']->asText()              : null;
    $url         = isset($action['link'])         ? (string) $this->prismicUrl($action['link'])    : null;
    
    
    
    if( !$title && !$description && !$buttonText ) {
        continue;
    }
    
    $class = ['ng-call-to-action'];
    if(isset($action['theme'])) {
        $class[] = $action['theme']->asText();
    }
    
    if(!empty($this->slice->getLabel())) {
        $class[] = $this->slice->getLabel();
    }
    
    if(isset($action['image_type']) && isset($action['image'])) {
        $class[] = 'with-image';
        $class[] = 'bg-' . strtolower($action['image_type']->asText());
    }
    $style = '';
    if(isset($action['image'])) {
        $style = sprintf('background-image: url(%s);', $action['image']->getMain()->getUrl());
    }
    
    $button = '';
    if($buttonText && $url) {
        $button = sprintf('<a class="button %s" href="%s">%s</a>', $buttonTheme, $url,  $buttonText);
    }
    
    echo sprintf(
        '<div class="%s" style="%s">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="cta-content">
                            %s
                            %s
                            %s
                        </div>
                    </div>
                </div>
            </div>
        </div>',
        implode(' ', $class),
        $style,
        $title,
        $description,
        $button
    );
    
}