<?php

/**
 * Carousel.
 *
 * Designed for use with http://flickity.metafizzy.co
 *
 * Each slide has the following keys
 * 
 * image - Large background image
 * text_color - string - either 'Light' or 'Dark' to make text readable
 * title - StructuredText, single, h1 or h2
 * leader - StructuredText, paragraph, single
 * link_text - string
 * link - Link object
 */

if(!$this->slice) {
    return;
}

$group = $this->slice->getValue();
$slides = $group->getArray();

if(!count($slides)) {
    return;
}

$slideMarkup = [];

foreach($slides as $slide) {
    if(!isset($slide['image'])) {
        continue;
    }
    
    $captionMarkup = $imageMarkup = $buttonMarkup = null;
    
    /**
     * Button Link
     */
    if(isset($slide['link_text']) && isset($slide['link'])) {
        $url = $this->prismicUrl($slide['link']);
        if(!empty($url)) {
            $buttonTheme = isset($slide['button_theme']) ? $slide['button_theme']->asText() : '';
            $buttonMarkup = sprintf(
                '<a class="button %s" href="%s">%s</a>',
                $buttonTheme,
                $url,
                $this->escapeHtml($slide['link_text']->asText())
            );
        }
    }
    
    $title    = isset($slide['title'])  ? $slide['title']->asHtml()  : null;
    $subtitle = isset($slide['leader']) ? $slide['leader']->asHtml() : null;
    
    /**
     * Caption Markup
     */
    if($title || $subtitle || $buttonMarkup) {
        $captionClass = ['caption'];
        if(isset($slide['text_color'])) {
            $captionClass[] = 'text-' . strtolower($slide['text_color']->asText());
        }
        $captionMarkup = sprintf(
            '<div class="%s">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="caption-content">
                                %s
                                %s
                                %s
                            </div>
                        </div>
                    </div>
                </div>
            </div>',
            implode(' ', $captionClass),
            $title,
            $subtitle,
            $buttonMarkup
        );
    }
    
    /**
     * Image Markup
     */
    $imageMarkup = sprintf(
        '<div class="image">
            %s
        </div>',
        $slide['image']->getMain()->asHtml()
    );
    
    $slideMarkup[] = sprintf(
        '<div class="slide">
            %s
            %s
        </div>
        ',
        $imageMarkup,
        $captionMarkup
    );
}

if(!count($slideMarkup)) {
    return;
}

$dots = $buttons = 'false';

switch($this->slice->getLabel()) {
    case 'dots':
        $dots = 'true';
        break;
    case 'buttons':
        $buttons = 'true';
        break;
    case 'dots-buttons':
        $buttons = $dots = 'true';
        break;
    default:
        break;
}

?>

<div class="ng-carousel js-flickity" data-flickity-options='{"cellAlign":"left","wrapAround":true,"contain":true,"setGallerySize": false, "prevNextButtons": <?php echo $buttons; ?>, "pageDots": <?php echo $dots; ?>, "resize": false}'>
    <?php echo implode("\n", $slideMarkup); ?>
</div>
