<?php

/** 
 * A Code Block
 * Intended to work with http://prismjs.com/ nicely
 * Expected fields 'language' and 'code'
 */

if(!$this->slice) {
    return;
}

$group = $this->slice->getValue();
$members = $group->getArray();
foreach($members as $elements) {

    if(!count($elements) || !isset($elements['code'])) {
        continue;
    }

    $lang = 'none';
    $lang = isset($elements['language']) ? strtolower($elements['language']->asText()) : $lang;

    switch($lang) {
        case 'html':
            $lang = 'markup';
            break;
    }

    $code = $this->escapeHtml($elements['code']->asText());
    ?>

    <section class="code-block">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <pre class="line-numbers"><code class="language-<?php echo $lang; ?>"><?php echo $code; ?></code></pre>
                </div>
            </div>
        </div>
    </section>

<?php
}
?>
