<?php
/**
 * The separator partial requires a slice fragment
 *
 * As this partial has no knowledge of the document, we expect to receive
 * the slice fragment in $this->slice
 */
if(!$this->slice) {
    return;
}

$content = $this->slice->getValue();

if(!$content) {
    return;
}

$containerClass = ['free-content'];

if($this->slice->getLabel()) {
    $containerClass[] = $this->slice->getLabel();
}

?>
<section class="<?php echo implode(' ', $containerClass); ?>">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="rte">
                    <?php echo $content->asHtml($this->linkResolver()->get()); ?>
                </div>
            </div>
        </div>
    </div>
</section>
