<?php

if(!$this->slice) {
    return;
}

$group = $this->slice->getValue();
$elements = $group->getArray();
if(!count($elements)) {
    return;
}

$linkResolver = $this->linkResolver()->get();

?>
<section class="faq-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <dl class="faq-list">
                <?php
                foreach($elements as $qa) {
                    $id = uniqid('faq-');
                    $q = isset($qa['question']) ? $qa['question']->asText() : null;
                    $a = isset($qa['answer']) ? $qa['answer']->asHtml($linkResolver) : null;
                    if(!$q || !$a) {
                        continue;
                    }
                    echo sprintf(
                        '<dt data-target="#%s"><span class="question">%s</span></dt>
                        <dd id="%s"><div class="faq-content">%s</div></dd>',
                        $id,
                        $this->escapeHtml($q),
                        $id,
                        $a
                    );
                }
                ?>
                </dl>
            </div>
        </div>
    </div>
</section>

<?php

static $faqJsEnabled;

if(!$faqJsEnabled) {
    $js = <<<JS

$(function() {
    $('.faq-list dd').height('auto').each(function() {
        $(this).attr('data-height', $(this).height());
    }).height('').addClass('off');
    $('.faq-list dt').click(function(e) {
        var target = $($(this).attr('data-target'));
        if(!target.hasClass('off')) {
            target.height('');
        } else {
            target.height(target.attr('data-height'));
        }
        target.toggleClass('off');
        target.toggleClass('on');
        $(this).toggleClass('on');
    });
    $('.faq-list dt:first-child').trigger('click');
});

JS;
    
    $this->inlineScript()->appendScript($js);
    
    $faqJsEnabled = true;
}