<?php
/**
 * Each Group may have the following
 *
 * image
 * title - structured text - heading
 * description - structured text
 * link - Link - Button URL
 * button_text - string - button text
 *
 * The label for the slice may contain a 'theme'
 */


if(!$this->slice) {
    return;
}

$group = $this->slice->getValue();
$members = $group->getArray();
if(!count($members)) {
    return;
}

?>
<section class="ng-featured-links <?php echo $this->slice->getLabel(); ?>">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="flex-container">
<?php
foreach($members as $item) {
    
    $imageMarkup = $buttonMarkup = '';
    
    $url = null;
    if(isset($item['link'])) {
        $url = $this->prismicUrl($item['link']);
    }
    
    $title       = isset($item['title'])       ? $item['title']->asHtml($this->linkResolver()->get()) : '';
    $description = isset($item['description']) ? $item['description']->asHtml($this->linkResolver()->get()) : '';
    
    if(isset($item['image'])) {
        $imageMarkup = $item['image']->asHtml();
        if($url) {
            $imageMarkup = sprintf('<a href="%s">%s</a>', $url, $imageMarkup);
        }
        $imageMarkup = sprintf('<div class="image">%s</div>', $imageMarkup);
    }
    
    if(isset($url) && isset($item['button_text'])) {
        $buttonTheme = isset($item['button_theme']) ? $item['button_theme']->asText() : '';
        $buttonMarkup = sprintf(
            '<div class="button-box"><a href="%s" class="button %s">%s</a></div>',
            $url,
            $buttonTheme,
            $item['button_text']->asText()
        );
    }
    
    echo sprintf('
        <div class="item">
            %s
            %s
            %s
            %s
        </div>',
        $imageMarkup,
        $title,
        $description,
        $buttonMarkup
    );
}
?>
                </div>
            </div>
        </div>
    </div>
</section>
