<?php
/**
 * Each Group may have the following
 *
 * theme - string - for styling
 * image
 * background - Image, No size constraint
 * background_type - (string) - Either "Pattern" or "Photo"
 * title - structured text - heading
 * description - structured text
 * link - Link - Button URL
 * button - string - button text
 */


if(!$this->slice) {
    return;
}

$group = $this->slice->getValue();
$elements = $group->getArray();
if(!count($elements)) {
    return;
}

?>

<section class="ng-featured-items">
<?php
foreach($elements as $item) {
    $theme = isset($item['theme']) ? $item['theme']->asText() : '';
    $imageMarkup = $contentMarkup = $buttonMarkup = '';
    
    $backgroundType = isset($item['background_type']) ? strtolower($item['background_type']->asText()) : '';
    $backgroundImage = isset($item['background']) ? $item['background']->getMain()->getUrl() : null;
    $backgroundStyle = !is_null($backgroundImage) ? sprintf('background-image:url(%s);', $backgroundImage) : '';
    
    $url = null;
    if(isset($item['link'])) {
        $url = $this->prismicUrl($item['link']);
    }
    
    $title       = isset($item['title'])       ? $item['title']->asHtml($this->linkResolver()->get()) : '';
    $description = isset($item['description']) ? $item['description']->asHtml($this->linkResolver()->get()) : '';
    
    if(isset($item['image'])) {
        $imageMarkup = $item['image']->asHtml();
        if($url) {
            $imageMarkup = sprintf('<a href="%s">%s</a>', $url, $imageMarkup);
        }
        $imageMarkup = sprintf('<div class="image">%s</div>', $imageMarkup);
    }
    
    if(isset($url) && isset($item['button'])) {
        $buttonTheme = isset($item['button_theme']) ? $item['button_theme']->asText() : '';
        $buttonMarkup = sprintf(
            '<a href="%s" class="button %s">%s</a>',
            $url,
            $buttonTheme,
            $item['button']->asText()
        );
    }
    
    $contentMarkup = sprintf('
        <div class="text">
            %s
            %s
            %s
        </div>',
        $title,
        $description,
        $buttonMarkup
    );
        
    
    echo sprintf('
        <div class="item %s">
            <div class="background %s" style="%s"></div>
            <div class="foreground">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="item-content">
                            %s
                            %s
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>',
        $theme,
        $backgroundType,
        $backgroundStyle,
        $contentMarkup,
        $imageMarkup
    );
}
?>
</section>