<?php
/**
 * This Search Form slice only has a 'theme' as it's configurable item
 */

$themeFragment = $this->slice->getValue();
$theme = '';
if($themeFragment) {
    $theme = $themeFragment->asText();
}

$formId = uniqid();

/**
 * Initialise or get the current query/term from the parent/root view model
 */
$query = '';
$model = $this->viewModel()->getCurrent();
if($model && isset($model->searchQuery)) {
    $query = $model->searchQuery;
}
$queryValue = $this->escapeHtmlAttr($query);


?>

<div class="ng-search-form-body <?php echo $theme; ?>">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form action="<?php echo $this->url('netglue-search'); ?>" method="get">
                    <div class="form-group">
                        <label for="<?php echo $formId; ?>-q">Search</label>
                        <input class="form-control" type="search" name="q" id="<?php echo $formId; ?>-q" value="<?php echo $queryValue; ?>" placeholder="Search the website">
                    </div>
                    <button class="btn" name="search" type="submit"><span class="button-label">Search</span></button>
                </form>
            </div>
        </div>
    </div>
</div>
