<?php

echo $this->contentSlices($this->prismic()->getDocument(), 'body');

?>
<div class="search-results-body">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
<?php
if(!isset($this->pager)):
    // No Search has been performed

elseif(isset($this->pager) && !count($this->pager)):
?>
    
                <h2 class="text-danger"><em>No results could be found for “<?php echo $this->escapeHtml($this->searchQuery); ?>”</em></h2>
<?php
else:
    $count = $this->pager->getTotalItemCount();
    $title = sprintf('%d result%s found', $count, ($count === 1 ? '' : 's'));
    $renderPager = (count($this->pager) > 1);
?>
                <h2 class="result-count"><?php echo $title; ?></h2>
        
<?php
    foreach($this->pager as $result) {
        echo $this->partial('netglue-prismic/search-result', ['document' => $result]);
    }
?>
            </div>
        </div>
    </div>
</div>

<?php
    if($renderPager):
    ?>
        <div class="search-pager-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
            <?php
            echo $this->paginationControl(
                $this->pager,
                'Sliding',
                'netglue-prismic/search-pager',
                ['route' => 'netglue-search/paged', 'q' => $this->searchQuery]
            );
            ?>
                    </div>
                </div>
            </div>
        </div>
    <?php
    endif;
endif;
?>